[submodule "arbitrageboosterbot"]
    path = arbitrageboosterbot
    url = https://github.com/meansfeel/arbitrageboosterbot.git
    branch = main  # 确保这个分支存在且包含所需代码

[submodule "arbitr"]
    path = arbitr
    url = https://github.com/meansfeel/arb-bot.git
    branch = main

[submodule "frontend"]
    path = frontend
    url = https://github.com/meansfeel/frontend-repo.git
    branch = main

[submodule "backend"]
    path = backend
    url = https://github.com/meansfeel/backend-repo.git
    branch = main

[core]
    worktree = https://arbitrageboosterbot.com




