[submodule "arrageboosterbot"]
    path = arrageboosterbot
    url = https://github.com/meansfeel/arrageboosterbot.git

[submodule "arbitr"]
    path = arbitr
    url = https://github.com/meansfeel/arb-bot.git

[submodule "backend"]
    path = backend
    url = https://github.com/meansfeel/backend-repo.git

[core]
    worktree = https://arbitrageboosterbot.com




